{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <script language="javascript">
     function fnCheckAlphabets() {
       if(
	 !((event.keyCode>43 && event.Keycode<47)
	   ||(event.keyCode>64 && event.keyCode<123)
	   || event.keyCode==32 ))
       { return false;  }
     }     
    </script>
    <div class="nav-page-title">
      <h3>Bulk Upload</h3>
    </div>
    <form action="{{ url_for('add_players') }}" method=post enctype=multipart/form-data class="add-entry">
      <dl>
	<div class="nav-page">
	  <dt> Choose File:
	    <dd>
	      <input type=file name=file>	   
	    </dd>
	  </dt>
	  <dt>Activity:
	    <dd>
	      <select name="activity">	     
		<option value="0">Laserstrike</option>
		<option value="1">Learn to Skate</option>
		<option value="2">Youth Hockey</option>
		<option value="3">Adult Hockey</option>
	      </select> 
	    </dd>
	  </dt>
	</div>
	<div class="nav-page"> 
	  <dd> <input type=submit value="Upload & Register" class="btn btn-block btn-lg btn-customers submit-buttons"></dd>
	</div>
    </form>

  <hr>

    <div class="nav-page-title">
      <h3>Single upload</h3>
    </div>
    <form action="{{ url_for('add_player') }}" method="post" class="add-entry">      
      <dl>
	<div class="nav-page-wide" id="register-single-page">
        <dt> First name:
          <dd>
	    <div class="form-group">
	      <input type=text size=10 name=first_name class="form-control">
	    </div>
	  </dd>
	</dt><dt> Last name:
	    <dd> 
	      <div class="form-group">
		<input type=text size=20 name=last_name class="form-control">
	      </div>
	    </dd>
	  </dt>
	 <dt> Email:
	    <dd> 
	      <div class="form-group">
		<input type=text size=20 name=email class="form-control">
	      </div>
	    </dd>
	 </dt> <dt> DOB:
	    <dd> 
	      <div class="form-group">
		<input type="date" name="bday">
	      </div>
	    </dd>
	  </dt><dt> Sex:
	    <dd> 
	     <select name="sex">	     
	       <option value="0">Female</option>
	       <option value="1">Male</option>
	       <option value="2">None</option>
	     </select> 
	    </dd>
	  </dt><dt> Phone:
	    <dd> 
	      <div class="form-group">
		<input type="tel" name="usrtel" >
	      </div>
	    </dd>
	  </dt><dt> Activity:
	   <dd> 
	     <select name="activity">	     
	       <option value="0">Laserstrike</option>
	       <option value="1">Learn to Skate</option>
	       <option value="2">Youth Hockey</option>
	       <option value="3">Adult Hockey</option>
	     </select> 
	   </dd>
	  </dt></div>
	 <div class="nav-page"> 
	   <dd> <input type=submit value=Submit class="btn btn-block btn-lg btn-customers submit-buttons"></dd>
	 </div>
      </dl>
    </form>
  {% endif %}
{% endblock %}
