{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <div class="nav-container">
      <div class="nav-page"> 
	  <a href="{{ url_for('register')}}" class="btn btn-block btn-lg btn-customers">Register customer(s)</a>
      </div>
      <div class="nav-page"> 
	  <a href="{{ url_for('search') }}" class="btn btn-block btn-lg btn-calendar">Find Customers</a>
      </div>    
    </div>
  {% endif %}
  <ul class=entries>
    <h3>{{ entries|length }} Player emails entered so far</h3>
  {% for entry in entries %}
    <li><h2>{{ entry.first_name }} {{ entry.last_name}}</h2>
      <br>Email: {{ entry.email|safe }}
      <br>Entered: {{ entry.entered }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
