<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/datepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/static/css/kiosk.css" rel="stylesheet">
    {% if laser %}
    {% else %}
    <style>
     .col-centered { float: none; margin: 0 auto; }
     hr { border-color: #cccccc; }
    </style>
    {% endif %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
  </head>
  <body>
    {% block body %}
    <div class="container">
        <div class="row">
	  {% if current_user.is_authenticated() and current_user.has_roles('management') %}     
	  <div class="col-sm-8 col-md-7 col-lg-6 col-centered">	    
	    {% set font_size = '28px' %}
	    {% set link = '/' %}
	    {% set title = 'Ice - Register an Employee' %}
	    {% else %} 
	    {% if laser %}
	  <div class="col-lg-12 col-centered">	    
	    {% set font_size = '100px' %}
	    {% set link = 'javascript:void(0);' %}
	    {% set title = 'Laserstrike' %}
	    {% else %}
	  <div class="col-sm-8 col-md-7 col-lg-6 col-centered">	    
	    {% set font_size = '28px' %}
	    {% set link = '/' %}
	    {% set title = 'Ice - Login' %}
	    {% endif %}
	    {% endif %}

            <h1><a href="{{ link }}" style="font-size:{{ font_size }};">{% block title %}{% endblock %}{{title}}</a></h1>

                <hr>
		{% for message in get_flashed_messages() %}
		<div class=flash>{{ message }}</div>
		{% endfor %}

		<!-- {% block flash_messages %}
                {%- with messages = get_flashed_messages(with_categories=true) -%}
                {% if messages %}
                {% for category, message in messages %}
                {% if category=='error' %}
                {% set category='danger' %}
                {% endif %}
                <div class="alert alert-{{category}}">{{ message|safe }}</div>
                {% endfor %}
                {% endif %}
                {%- endwith %}
                {% endblock %} -->

                {% block content %}
                {% endblock %}
                <hr>
                Created by Zack Field
            </div>
        </div>
    </div>
    {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>    
     <script src="/static/animo.js/animo.js" type="text/javascript"></script>
    <link href="/static/animo.js/animate+animo.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="static/js/moment.js"></script>
    <script src="/static/datepicker/js/bootstrap-datetimepicker.js"></script>
    <script src='/static/js/kiosk.js'></script>
  </body>
</html>
