{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
<div class="nav-page-title">
  <h3>Find customers</h3>
</div>
<div class="nav-page" id="search-page">
  <form action="{{ url_for('customer.find') }}" method=post class=add-entry>
    <dl>
      <dt>First name:
	<dd>
	  <input type=text size=30 name=first_name>
	</dd>
      </dt>
      <dt> Last name:
	<dd> 
	  <input type=text size=30 name=last_name>
	</dd>
      </dt>
      <dt>Email:
	<dd> 
	  <input type=text size=30 name=email>
	</dd>
      </dt>
      <dt>Birth Day (Year, Month, Day)
      <dd> 
	<div class="form-group">
	  <input type="date" name="bday">
	</div>
      </dd>
      </dt>
      <dd> <input type=submit value=submit></dd>
    </dl>
  </form>
</div>
    <div id="container">

      <ul id="list" class="entries">      
	{% for entry in entries %}
	<li name="customer-li">  
	  <div class="left-li">
	    <div class="customer-firstname"><span>{{ entry.first_name }}</span></div> 
	    <div class="customer-lastname"><span>{{ entry.last_name}} </span></div>
	    <div class="customer-email">Email:<span>{{ entry.email|safe }}</span></div>
	    <div class="customer-birthdate">Birthdate:<span>{{ entry.birth }}</span></div> 
	  </div>
	</li>
	{% else %}
	<li><em>Unbelievable.  No entries here so far</em></li>
	  {% endfor %}	    
      </ul>
    </div>
      {% else %}
      <li><em><a href="{{url_for('main.login')}}">You must be logged in to search</a></em>

  
  {% endif %}
{% endblock %}
