<!doctype html>
<head>
    <meta charset="utf-8" />
    <title>Demo</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="/static/js/alertify.js"></script>    
    <script src="http://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="/static/animo.js/animo.js" type="text/javascript"></script>
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> -->
    <link href="/static/css/css.css" rel="stylesheet" media="screen, projection">
    <link href="/static/css/alertify.default.css" rel="stylesheet">
    <link href="/static/css/alertify.core.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/animo.js/animate+animo.css" rel="stylesheet" type="text/css">
    <!-- <link href="{{ url_for('static', filename='/css/style.css') }}" rel=stylesheet type=text/css > -->
</head>
<title>Emailer</title>
<div class=page>
  <div id="title">
    <h1>ice</h1>
  </div>
  <div class=metanav>
    <div class='left'>
      <a href="{{ url_for('customer.options') }}">Customers</a>
      
      <a href="{{ url_for('main.calendar') }}">Calendar</a>
      
      <a href="{{ url_for('email.index') }}">Email</a>
    </div>
  <div class='right'>
    <a href="{{ url_for('main.navigate') }}">Home</a>
    {% if not current_user.is_authenticated() %}
    <a href="{{ url_for('user.login') }}">Login</a>
    {% else %}
    <a href="{{ url_for('user.logout') }}">Logout</a>
    {% endif %}
  </div>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
 <div id="footer" class="metanav">   
      {% block footer %}
      Created by Zack Field
      {% endblock %}
 </div>
